@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* --------------------------------------------------------- Colours */

.bg-color-page {
    background-color: #f4f4f4;
}

.col-md-4 {
    border-style:solid;
}

/* --------------------------------------------------------- Texts and Paddings */



/* ---------------------------------------------------------- Heading */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex-basis: 40%;
    max-width: 360px;
}

.text {
    font-size: 40px;
    color: #6577B3; 
}

.intro {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #6577B3; 
    padding: 20px;
}
/* ---------------------------------------------------------- Footer */


/* ---------------------------------------------------------- Homepage */
