@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* --------------------------------------------------------- Colours */

.bg-color-page {
    background-color: #fffafa
}


/* --------------------------------------------------------- Texts and Paddings */



/* ---------------------------------------------------------- Heading */

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-3 {
    border-style:solid; 
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px; 
    padding-bottom: 20px;
    margin: 40px 20px 20px 40px;
    text-align: center;
}

.image {
    flex-basis: 40%;
    max-width: 360px;
}

.text {
    font-size: 64px;
    color: #8f8f8f;
    font-family: "Exo", sans-serif;
    font-weight:300;
    text-decoration: underline;
}

.intro {
    font-size: 40px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #8f8f8f;
    padding: 20px;
}

.title {
    font-size: 48px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fffafa;
    padding: 20px;
}

i {
    font-size: 48px;
}
/* ---------------------------------------------------------- Footer */


/* ---------------------------------------------------------- Homepage */

.menu {
    margin: auto;
    text-align: center;
}

.rows {
    padding-right: 15px;
    flex-wrap: wrap;
}

.page {
    display: grid;
}


.blob {
	background: black;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.blob1 {
	background: #53682A;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.blob2 {
	background: #761F17;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}


.blob3 {
	background: #BE5504;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.blob4 {
	background: #545454;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}


.blob5 {
	background: #003366;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}
