@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* --------------------------------------------------------- Colours */

.bg-color-page {
    background-color: #6D0000;
}

.col-md-4 {
    border-style:solid;
}

/* --------------------------------------------------------- Texts and Paddings */



/* ---------------------------------------------------------- Heading */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex-basis: 40%;
    max-width: 360px;
}

.text {
    font-size: 64px;
    color: #8f8f8f;
    font-family: "Exo", sans-serif;
    font-weight:300;
    text-decoration: underline;
}

.intro {
    font-size: 40px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #8f8f8f;
    padding: 20px;
}
/* ---------------------------------------------------------- Footer */


/* ---------------------------------------------------------- Homepage */
